##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2024 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
projectIDS=REFPLTB,RDKBACCL,RDKPREINTG,TDK
platformProjectIDs=REFPLTB,RDKBACCL
labels=_tdkb_auto,_tdkb_m138_issue,_tdkb_m138_new_issues
releaseVersions=rdkb-2023q4-dunfell,rdkb-2024q1-dunfellrdkb-2024q2-dunfell,rdkb-2024q3-dunfell,rdkb-2023q4-kirkstone,rdkb-2024q4-kirkstone,rdkb-2024q1-kirkstone,rdkb-2024q2-kirkstone,rdkb-2024q3-kirkstone
hardwareConfigurations=4 GB RAM,8 GB RAM,16 GB RAM
impactedPlatforms=None,All,RPI4,BCM972180HBC,BCM972127OTT,BCM972126OTT,HP44H,AH212,AP222,MEDIABOX,SGMM393,HX44X,BPI-R4
severities=L1-Critical,L2-Severe,L3-Minor,L4-Cosmetic
fixedInVersions=6.0,6.1,7.0,8.0
componentsImpacted=airties easymesh controller,ccspcommonlibrary,CcspCr,ccspethagent,ccsphomesecurity,CcspLMLite,CcspLogAgent,ccspMoca,ccspmtaagent,CcspPandM,CcspPsm,CcspSnmpPa,CcspTr069Pa,CcspWifiAgent,ccspxdns,cellularmanager,cellularmanager-mm,dhcpmanager,dsl manager,firmwareupgrade manager,gpon manager,HAL,hotspot,Interdevicemanager,ledmanager,MeshAgent,mtu_modifier,onewifi,opensync,platformmamanager,pppmanager,rdk-wifi-hal,sso,telcovoicemanager,telemetry,TestAndDiagnostic,usp agent,utopia,vlanbridgingmanager,wan manager,webconfig,webpa,webui,xconf
priorities=Minor,Major,Blocker,Critical
rdkVersions=RDK 2.0,RDK 1.3,RDK 1.2,RDK 1.1,RDK 1.0